name: Daily AQI + Weather Fetch

on:
  schedule:
    - cron: '0 3 * * *'  # 8 AM Pakistan time
  workflow_dispatch:      # allow manual run

jobs:
  update-aqi:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install requests pandas hopsworks openmeteo-requests retry-requests

      - name: Run AQI + Weather fetch script
        env:
          HOPSWORKS_API_KEY: ${{ secrets.colab_key }}  # Use secret name only
        run: python scripts/fetch_API_data.py   # Make sure this file exists in repo root
